.ol-map {
  @apply absolute flex w-full flex-row;
  height: calc(100% - 110px);
}

.ol-control {
  @apply absolute rounded-md bg-white bg-opacity-50 p-1;
}

.ol-full-screen {
  @apply absolute right-0 top-0;
}

.ol-map-top {
  @apply absolute w-full;
  height: 300px;
}

.map-container-in-reporting {
  @apply flex h-96 w-full flex-row;
}
