html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  padding-top: 1.5rem;
}
