untendurch.yourdomain.com {
  encode gzip zstd

  rewrite /dashboard /dashboard/
  rewrite /parse /parse/

  rewrite /admin* /index.html
  rewrite /bridges/* /index.html

  reverse_proxy /* frontend:8080
}
