services:
  mongodb:
    image: mongo:8.0.16
    container_name: untendurch-mongodb
    ports:
      - "27017:27017"
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: untendurch
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_USERNAME: untendurch
      MONGO_INITDB_PASSWORD: untendurch
    volumes:
      - untendurch_mongodb_data:/data/db
      - ../../db-backup:/db-backup
      - ./mongodb/mongodb-init.sh:/docker-entrypoint-initdb.d/mongodb-init.sh:ro

volumes:
  untendurch_mongodb_data:
    driver: local
